@font-face {
	font-family: "Anybody";
	src: url("https://assets.codepen.io/1492907/Anybody.woff2") format("woff2");
}

* {
	font-family: "Anybody";
	margin: 0;
}

::selection {
	background: #0e0e0e;
	color: #f0f0f0;
}

.custom-text-color {
    color: #ffffff; /* Exemple de couleur bleue */
}

h1 {
	padding: 4rem;
	align-items: center;
	font-size: 10rem;
	color: #ffffff;
	font-variation-settings: "wght" 700;
	@media (max-width: 800px) {
		font-size: 8rem;
	}
}

h3 {
	padding: 4rem;
	align-items: center;
	font-size: 4rem;
	color: #ffffff;
	font-variation-settings: "wght" 700;
	@media (max-width: 800px) {
		font-size: 8rem;
	}
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #081400;
	overflow: auto;
}

p {
    font-size: 2rem;
    color: #ffffff;
    margin: 1rem 0; /* Ajoutez une marge pour espacer les éléments */
}

button {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: #0e0e0e;
    background-color: #f0f0f0;
    border: 1px solid #081400;
    cursor: pointer;
}

a {
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vh; /* Assurez-vous que la div prend toute la hauteur de la fenêtre */
	text-align: center; /* Centrer le texte à l'intérieur de la div */
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Assurez-vous que la div prend toute la largeur de la fenêtre */
}

#homePage, #loginPage, #gamePage {
	padding: 20px;
    width: 100%; /* Assurez-vous que les pages prennent toute la largeur de la fenêtre */
    padding: 20px; /* Ajoutez du padding pour créer du contenu supplémentaire */
	/* margin-top: 40px; */
}

.container {
    margin-bottom: 50px; /* Ajoutez de la marge pour créer du contenu supplémentaire */
}

.navbar-brand {
	font-size: 2rem;
	color: #0e0e0e;
	margin: 5px;
}

.nav-link {
	font-size: 1.2rem;
	color: #0e0e0e;
	margin: 5px;
}


canvas#pong.gameCanvas {
	background-color: #000000;
	border: 1px solid #ffffff;
	/* height: 50%; */
	width: 100%;
}

canvas.moduleCanvas {
    width: 100%;
    /* height: 50%; */
	background-color: #ffffff;
    /* border: 1px solid #0e0e0e; */
    /* margin-top: 20px; */
}